@mixin container {
    min-width: 320px;
    box-sizing: border-box;
    display: grid;
}

@mixin title {
    font-family: Montserrat;
    font-weight: bold;
    font-size: 48px;
    color: $color_white;
    display: flex;
    align-self: center;
    justify-content: center;
}

@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}
