$color_dark-purple: #635C73;
$color_dark-grey: #323232;
$color_dark-grey-bluish: #24292e;
$color_dark-white: #fafbfc;
$color_light-grey: rgba(27,31,35,.15);
$color_light-purple: #8D81AC;
$color_dark-grey-redish: #323232;
$color_thin-purple: #848E97;
$color_dirty-white: #F4F4F4;
$color_dirty: #27262A;
$color_dark: #A291A5;
$color_pseudo: #645766;
$color_white-transparent: rgba(255, 255, 255, 0.1);
$color_black-transparent: rgba(70, 48, 72, 0.5);
$color_dark-transparent: rgba(70, 48, 72, 1);
$color_white: #fff;
$color_grey: #333333;
$color_grey-light: #3b3b3b;
