@import 'utils/variables';

.fork-app {
    width: 100%;
    background: url("../images/header-lg.jpg") center no-repeat;
    background-size: cover;

  &__container {
        @include container;

        position: relative;
        text-align: center;
        grid-template-rows: auto 200px 45px auto 1fr;

        @media screen and (min-width: 320px) and (max-width: 480px) {
              background-size: auto;
              background-position: top;
              padding: 0 0 420px 0;
              grid-template-rows: auto 120px 70px auto 1fr;
              margin: 0 auto 70px auto;
        }

        @media screen and (min-width: 481px) and (max-width: 992px) {
          padding: 0 0 420px 0;
          background-size: auto;
          background-position: top;
          margin-bottom: 100px;
          grid-template-rows: auto 150px 45px auto 1fr;
        }

        @media screen and (min-width: 993px) {
          max-width: 1200px;
          margin: 0 auto 70px auto;
          padding: 30px 50px 460px;
          box-sizing: border-box;
        }
    }

  &__nav {
    position: relative;
    display: grid;
    grid-template-areas: "logo nav buy";
    grid-template-columns: repeat(1fr 1fr 1fr);

    @media screen and (min-width: 320px) and (max-width: 480px) {
          display: flex;
          justify-content: space-between;
          align-items: center;
          background: $color_dirty;
          max-width: 480px;
          padding: 16px;
        }

    @media screen and (min-width: 481px) and (max-width: 992px) {
        grid-template-areas: "logo logo buy"
                             "nav nav nav";
        grid-template-rows: auto 1fr;
        grid-template-columns: 1fr 1fr;
        background: $color_dirty;
        padding: 20px 20px 10px 20px;
    }
  }

    &__title {
        font-family: Montserrat;
        font-weight: bold;
        font-size: 82px;
        color: $color_white;
        text-transform: capitalize;
        align-self: end;

        @media screen and (min-width: 320px) and (max-width: 480px) {
          font-size: 48px;
        }

        @media screen and (min-width: 481px) and (max-width: 992px) {
          font-size: 72px;
        }
    }

    &__description {
        font-family: Lato;
        font-size: 30px;
        color: $color_light-purple;
        align-self: end;

        @media screen and (min-width: 320px) and (max-width: 480px) {
          font-size: 18px;
          padding: 0 10px;
        }

        @media screen and (min-width: 481px) and (max-width: 992px) {
          font-size: 24px;
        }
    }

    &__version {
        font-family: Montserrat;
        font-size: 16px;
        text-transform: uppercase;
        color: $color_thin-purple;
        margin-top: 15px;

        @media screen and (min-width: 320px) and (max-width: 480px) {
          font-size: 12px;
        }

        @media screen and (min-width: 481px) and (max-width: 992px) {
          font-size: 14px;
          margin-top: 10px;
        }
    }

    &__download {
        position: absolute;
        display: flex;
        flex-direction: column;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%) translateY(65%);

        @media screen and (min-width: 320px) and (max-width: 480px) {
            transform: translateX(-50%) translateY(67%);
        }

        &_link {
            white-space: nowrap;
            background: $color_light-purple;
            font-family: Montserrat;
            border: 2px solid $color_light-purple;
            border-radius: 40px;
            padding: 23px 61px;
            font-weight: bold;
            font-size: 21px;
            color: $color_white;

            @media screen and (min-width: 320px) and (max-width: 480px) {
                font-size: 18px;
                padding: 13px 30px;
            }
        }

        &_link:hover {
            background: $color_white;
            color: $color_light-purple;
        }

        &_period {
            font-family: Montserrat;
            font-size: 14px;
            margin-top: 19px;
            color: $color_thin-purple;
        }
    }
}

.logo {
    display: flex;
    align-items: center;
    grid-area: logo;

    &__title {
        color: $color_light-purple;
        margin-left: 17px;
        font-family: Lato;
        font-weight: bold;
        font-size: 24px;
        text-transform: uppercase;

        @media screen and (min-width: 320px) and (max-width: 480px) {
            display: none;
        }
    }

    &__img {
        width: 43px;
        height: 41px;
        background: url("../images/logo.png") -73px -10px no-repeat;
    }
}

.logo:hover .logo__img {
    background-position: -10px -10px;
}

.logo:hover .logo__title {
    color: $color_white;
}

.nav-list {
    display: flex;
    align-items: center;
    position: block;

    @media screen and (min-width: 320px) and (max-width: 480px) {
        display: none;
        position: absolute;
        padding: 0;
        top: 73px;
        left: 15px;
        right: 15px;
        background: $color_grey;

        &__item:hover {
            &::before {
                content: "";
                display: block;
                position: absolute;
                left: 0;
                top: 50%;
                transform: translateY(-50%);
                height: 53px;
                width: 8px;
                background: $color_light-purple;
            }
        }
    }

  @media screen and (min-width: 481px) {
      display: flex!important;
  }

    @media screen and (min-width: 481px) and (max-width: 992px) {
        justify-content: center;
    }

    list-style: none;
    flex-grow: 1;
    justify-content: flex-end;
    grid-area: nav;

    &__item {
        margin-right: 50px;
        position: relative;

        @media screen and (min-width: 320px) and (max-width: 480px) {
            margin-right: 0;
            border-bottom: 3px solid $color_grey-light;
        }

        @media screen and (min-width: 481px) and (max-width: 992px) {
            &:last-child {
                margin-right: 0;
            }
        }
    }

    &__link {
        color: $color_light-purple;
        font-family: Montserrat;
        font-weight: bold;
        font-size: 16px;
        text-transform: capitalize;

        @media screen and (min-width: 320px) and (max-width: 480px) {
            display: flex;
            font-family: Montserrat;
            font-weight: normal;
            padding: 30px 40px;
            font-size: 26px;
            color: $color_white;
        }
    }

    &__link:hover {
        color: $color_white;

        @media screen and (min-width: 320px) and (max-width: 480px) {
            color: $color_light-purple;
        }
    }
}

.burger-toggle {
    display: none;
    width: 26px;
    height: 25px;
    position: relative;
    border: 0;
    overflow: hidden;
    cursor: pointer;
    background: none;

    &__line {
        position: absolute;
        width: 26px;
        height: 3px;
        background-color: #fff;
        left: 50%;
        top: 50%;
        transition: all 0.2s ease;
        transform: translateX(-50%) translateY(-50%);

        &_first-child {
            width: 13px;
            transform: translateX(0%) translateY(calc(-50% - 8px));
        }

        &_last-child {
            transform: translateX(-50%) translateY(calc(-50% + 8px));
        }
    }

    &_active {
        & .burger-toggle__line {
            transform: translateX(-150%) translateY(-50%);
            opacity: 0;
        }

        & .burger-toggle__line_first-child {
            opacity: 1;
            transform: translateX(-50%) translateY(-50%) rotate(45deg);
            width: 26px;
        }

        & .burger-toggle__line_last-child {
            opacity: 1;
            transform: translateX(-50%) translateY(-50%) rotate(-45deg);
        }
    }

    @media screen and (min-width: 320px) and (max-width: 480px) {
        display: block;
    }
}

.buy-now {
    grid-area: buy;

    & {
        background: $color_light-purple;
        padding: 11px 20px;
        border-radius: 40px;
        color: $color_white;
        font-family: Montserrat;
        font-weight: bold;
        font-size: 16px;
        text-transform: capitalize;
    }

    &:hover {
        background: $color_white;
        color: $color_light-purple;
    }
}

