@import '../utils/_variables';

.people-are-talking {


    background: url("../images/people-bg.jpg") top no-repeat;
    background-size: 100% 110%;

    &__container {
        @include container;

        grid-template-columns: auto;
        grid-template-rows: 200px auto auto;
        text-align: center;
        padding-bottom: 30px;

        @media screen and (min-width: 320px) and (max-width: 480px) {
            grid-template-rows: 150px auto auto;
        }

        @media screen and (min-width: 993px) {
          max-width: 1200px;
          margin: 0 auto;
        }
    }

    &__title {
        @include title;

        @media screen and (min-width: 320px) and (max-width: 480px) {
            font-size: 36px;
            align-self: flex-end;
        }

        @media screen and (min-width: 481px) and (max-width: 992px) {
            font-size: 42px;
        }
    }

    &__clients {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: auto;
        gap: 60px;
        padding: 0 5% 80px 5%;

        @media screen and (min-width: 320px) and (max-width: 480px) {
            grid-template-columns: repeat(1, 1fr);
            gap: 10px;
            padding-top: 20px;
            padding-bottom: 30px;
        }

        @media screen and (min-width: 481px) and (max-width: 992px) {
            grid-template-columns: repeat(2, 1fr);
        }
    }

    &__description {
        width: 70%;
        font-family: Lato;
        font-size: 14px;
        color: $color_dark;
        margin: 0 auto;

        &::after {
            content: "";
            position: relative;
            top: 20px;
            display: block;
            width: 90%;
            height: 2px;
            background: $color_pseudo;
            margin: 0 auto;
        }
    }
}

.client-block {
    display: grid;
    grid-template-rows: 100px auto auto;

    &__img-wrap {
        display: flex;
        justify-content: center;
        align-self: center;
    }

    &__text {
        font-family: Lato;
        font-style: italic;
        font-weight: bold;
        font-size: 16px;
        color: $color_white;
    }
}