@import '../utils/_variables';

.pricing {
  background: url("../images/fork-bg.jpg") top no-repeat;
  background-size: cover;

  &__container {
    min-width: 320px;
    box-sizing: border-box;
    font-family: 'Montserrat';
    padding: 10px 0;

    @media screen and (min-width: 481px) {
      padding: 80px 0 100px;
    }
    @media screen and (min-width: 993px) {
      max-width: 1200px;
      margin: 0 auto;
      padding: 70px 0 100px 0;
    }
  }


  &__title {
    font-size: 28px;
    line-height: 150%;
    text-align: center;
    color: #fff;

    @media screen and (min-width: 481px) {
      font-size: 42px;
      line-height: 105%;
    }
    @media screen and (min-width: 993px) {
      font-size: 48px;
      line-height: 104%;
      }
  }

  &__rates {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    padding-top: 30px;

    @media screen and (min-width: 481px) {
      flex-direction: row;
      justify-content: center;
      padding: 40px 0 0;
    }
    @media screen and (min-width: 870px) {
      padding: 60px 61px 0;
    }
    @media screen and (min-width: 993px) {
      padding: 60px 0 0;
      flex-wrap: nowrap;
    }
  }
}

.rate-item {
  background: $color_white-transparent;
  // margin: 0 31px 30px;
  // max-width: 257px;
  margin: 0 auto 30px;
  width: 257px;
  max-height: 457px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @media screen and (min-width: 482px) {
    margin: 0 12px 65px;
    max-width: 257px;
    width: calc((100% / 2) - 24px);
  }
  @media screen and (min-width: 993px) {
    margin: 0 8px;
    width: 257px;
  }

  &_active {
    background: $color_black-transparent;
    // margin: 0 10px 30px;
    // max-width: 299px;
    width: 299px;
    margin: 0 auto 30px;
    max-height: 560px;

    @media screen and (min-width: 482px) {
      width: calc((100% / 2) - 10px);
      max-width: 299px;
      margin: 0 5px 0;
      transform: translateY(-35px);
    }
    @media screen and (min-width: 993px) {
      width: 299px;
      margin: 0 8px;
      transform: translateY(-28px);
    }
  }

  &__capture {
      @include flex-center;
      padding: 36px 0;
      background: $color_white-transparent;
      font-weight: normal;
      font-size: 24px;
      text-transform: uppercase;
      color: #fff;

      &_active {
        padding: 43px 0;
        background: $color_dark-transparent;
      }
  }

  &__cost {
    @include flex-center;
    padding: 30px 0 20px;
    font-size: 60px;
    text-transform: uppercase;
    font-weight: bold;
    color: #fff;

    &_active {
      font-size: 82px;
    }
  }

  &__currency {
    font-weight: normal;
  }

  &__period {
    @include flex-center;
    flex-direction: column;
    font-size: 14px;
    text-transform: uppercase;
    color: #fff;

      &::after {
        content: "";
        display: block;
        width: 60px;
        height: 5px;
        background: $color_light-purple;
        margin: 30px auto;
      }

      &_active::after {
        content: "";
        display: block;
        width: 60px;
        height: 5px;
        background: $color_light-purple;
        margin: 45px auto 40px;
      }
    }

  &__rate {
    display: flex;
    justify-content: center;
    font-size: 16px;
    color: #fff;
    padding: 0 20px;
    text-align: center;
  }

  &__button {
    padding: 15px 38px;
    background: $color_white-transparent;
    border-radius: 40px;
    color: #fff;
    font-size: 15px;
    text-transform: uppercase;

    &_active {
      padding: 19px 38px;
      font-size: 16px;
      line-height: 113%;
    }
  }

  &__button-wrap {
    display: flex;
    justify-content: center;
    margin: 35px 0;

    &_active {
      display: flex;
      justify-content: center;
      margin: 45px 0;
    }
  }
}
