@import 'utils/_variables';

.revolutionary-editor {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  padding: 70px 0 80px 0;

  @media screen and (min-width: 481px) {
    padding: 90px 0 100px 0;
  }
  @media screen and (min-width: 993px) {
    padding: 60px 0 70px 0;
  }
  @media screen and (min-width: 1200px) {
    width: 1200px;
    margin: 0 auto;
  }

  &__title {
    text-transform: uppercase;
    text-align: center;
    color: $color_dark-purple;
    margin-bottom: 25px;
    padding: 0 25px;
    font-size: 26px;
    font-family: 'Montserrat';
    font-weight: 600;
    line-height: 108%;

    @media screen and (min-width: 481px) {
      padding: 0;
      font-size: 42px;
      line-height: 100%;
    }
    @media screen and (min-width: 993px) {
      font-size: 54px;
    }
  }

  &__text {
    padding: 0 20px;
    color: $color_dark-grey;
    text-align: center;
    font-size: 14px;
    font-family: 'Lato';
    line-height: 143%;

    @media screen and (min-width: 481px) {
      padding: 0 40px;
      font-size: 21px;
      line-height: 152%;
    }
    @media screen and (min-width: 993px) {
      padding: 0;
      width: 80%;
    }
  }
}

.buttons {
  height: 90px;
  display: flex;
  margin-top: 25px;
  flex-wrap: wrap;
  justify-content: center;
  align-content: space-between;
  padding: 0 10px;
  box-sizing: border-box;

  @media screen and (min-width: 481px) {
    margin-top: 15px;
    height: auto;
  }

  &__container {
    margin-right: 10px;
    cursor: pointer;
    color: $color_dark-grey-bluish;
    display: flex;
    align-items: center;

    &_mg-r_0px {
      margin-right: 0;
    }
  }

  &__item {
    display: flex;
    align-items: center;
    text-transform: capitalize;
    background: $color_dark-white;
    font-weight: 600;
    border: 1px solid $color_light-grey;
    padding: 6px 12px;
    margin: 0;
    font-size: 12px;
    line-height: 20px;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
  }

  &__amount {
    padding: 6px 10px;
    font-size: 12px;
    font-weight: 600;
    line-height: 20px;
    vertical-align: middle;
    border: 1px solid $color_light-grey;
    border-left: 0;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
  }

  &__image {
    margin-right: 4px;
  }
}
