@import '../utils/_variables';

.what-you-get {
  background-color: #fff;

  @media screen and (min-width: 993px) {
    background-color: $color_dirty-white;
  }

  &__container {
    min-width: 320px;
    padding: 30px 0 10px 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;

    @media screen and (min-width: 481px) {
      padding: 60px 0 20px 0;
    }
    @media screen and (min-width: 993px) {
      max-width: 1200px;
      margin: 0 auto;
      padding: 90px 0 40px 50px;
      flex-direction: row;
    }
  }
}

.content {
  @media screen and (min-width: 481px) {
    display: flex;
    flex-wrap: wrap;
  }

  &__left-section {
    display: none;

    @media screen and (min-width: 481px) {
      width: 25%;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 50px;
      margin-bottom: 60px;
      padding-left: 25px;
      box-sizing: border-box;
      justify-content: space-between;
    }
    @media screen and (min-width: 993px) {
      width: 10%;
    }
  }
  &__middle-section {
    @media screen and (min-width: 481px) {
      width: 75%;
    }
    @media screen and (min-width: 993px) {
      width: 37%;
    }
  }

  &__right-section {
    overflow: hidden;
    display: flex;
    justify-content: flex-end;

    @media screen and (min-width: 481px) {
      width: 100%;
    }
    @media screen and (min-width: 993px) {
      width: 53%;
      margin-top: 50px;
      flex-direction: column;
      align-self: flex-start;
    }
  }

  &__image {
    width: 95%;

    @media screen and (min-width: 481px) {
      width: 90%;
    }
    @media screen and (min-width: 993px) {
      width: 100%;
    }
  }
}

.item {
  width: 100%;
  margin-top: 35px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 25px;
  box-sizing: border-box;

  @media screen and (min-width: 481px) {
    flex-direction: row;
    justify-content: space-between;
    margin-top: 22px;
  }
  @media screen and (min-width: 993px) {
    padding: 0 40px 0 25px;
  }


  &__image {
    @media screen and (min-width: 481px) {
      display: none;
    }
  }

  &__capture {
    margin: 27px 0 15px;
    text-align: center;
    color: $color_dark-grey-redish;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Montserrat';

    @media screen and (min-width: 481px) {
      text-align: left;
    }
  }

  &__text {
    font-family: 'Lato';
    font-size: 14px;
    line-height: 150%;
    text-align: center;
    color: $color_thin-purple;

    @media screen and (min-width: 481px) {
      text-align: left;
    }
  }

  &_mg-b-60px {
    margin-bottom: 60px;
  }
}

.title {
  padding: 0 45px;
  font-size: 32px;
  color: $color_light-purple;
  text-align: center;
  line-height: 119%;
  font-family: 'Montserrat';
  font-weight: bold;

  @media screen and (min-width: 993px) {
    font-size: 48px;
    line-height: 104%;
    margin-bottom: 20px;
  }

  &_right-section {
    display: none;

    @media screen and (min-width: 993px) {
      display: block;
      padding: 0;
    }
  }

  &_left-section {
    display: block;

    @media screen and (min-width: 993px) {
      display: none;
    }
  }
}
